// Navigation Styles here

header {
    display: flex;

    nav {
        border: 1px solid red;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
         
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 15px;
        padding-left: 20px;
        }

    h2 {
        // align-items: flex-end;
        color:red;
        }
    }

}